:root{
 --cor-de-fundo: #fff7ef
}
body{
    
      background-color: var(--cor-de-fundo);
      font-family: "Quicksand", sans-serif;
      font-optical-sizing: auto;
      font-weight: 500;
      font-style: normal;
}
img{
    width: 7%;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(89, 211, 126);
    padding: 10px;
}

.introducao{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}