:root{
    --cor-de-fundo:var(branco
    )
}

body{

    .quicksand-<uniquifier> {
      font-family: "Quicksand", sans-serif;
      font-optical-sizing: auto;
      font-weight: 500;
      font-style: normal;
}



